{
  "overrideTech": null,
  "blockNoise": {
    "verticalNoise": {
      "alpha": 1.6,
      "amplitude": 80,
      "octaves": 5,
      "type": "Perlin",
      "beta": 2,
      "frequency": 0.002
    },
    "horizontalNoise": {
      "alpha": 1.4,
      "amplitude": 200,
      "octaves": 5,
      "type": "Perlin",
      "beta": 2,
      "frequency": 0.0017
    },
    "noise": {
      "alpha": 1.8,
      "amplitude": 8,
      "octaves": 2,
      "type": "Perlin",
      "beta": 2,
      "frequency": 0.1
    }
  },
  "atmosphereLayer": {
    "dungeons": [],
    "secondaryRegions": [],
    "subRegionSizeRange": [
      0.25,
      0.4
    ],
    "primarySubRegion": {
      "bgOreSelector": "normalBackgroundVeins",
      "bgCaveSelector": "backgroundCaves",
      "biome": "atmosphere",
      "fgOreSelector": "normalVeins",
      "fillMicrodungeons": false,
      "subBlockSelector": "largeClumps",
      "encloseLiquids": false,
      "blockSelector": "empty",
      "fgCaveSelector": "normalCaves",
      "oceanLiquid": 0,
      "oceanLiquidLevel": 0,
      "caveLiquid": 0,
      "caveLiquidSeedDensity": 0
    },
    "layerMinHeight": 1100,
    "layerBaseHeight": 1400,
    "secondaryRegionSizeRange": [
      0.5,
      0.8
    ],
    "primaryRegion": {
      "bgOreSelector": "normalBackgroundVeins",
      "bgCaveSelector": "backgroundCaves",
      "biome": "atmosphere",
      "fgOreSelector": "normalVeins",
      "fillMicrodungeons": false,
      "subBlockSelector": "largeClumps",
      "encloseLiquids": false,
      "blockSelector": "empty",
      "fgCaveSelector": "normalCaves",
      "oceanLiquid": 0,
      "oceanLiquidLevel": 0,
      "caveLiquid": 0,
      "caveLiquidSeedDensity": 0
    },
    "secondarySubRegions": [],
    "dungeonXVariance": 500
  },
  "airless": false,
  "blendSize": 80,
  "spaceLayer": {
    "dungeons": [],
    "secondaryRegions": [],
    "subRegionSizeRange": [
      0.25,
      0.4
    ],
    "primarySubRegion": {
      "bgOreSelector": "normalBackgroundVeins",
      "bgCaveSelector": "backgroundCaves",
      "biome": "asteroids",
      "fgOreSelector": "normalVeins",
      "fillMicrodungeons": false,
      "subBlockSelector": "largeClumps",
      "encloseLiquids": false,
      "blockSelector": "asteroids",
      "fgCaveSelector": "empty",
      "oceanLiquid": 0,
      "oceanLiquidLevel": 0,
      "caveLiquid": 0,
      "caveLiquidSeedDensity": 0
    },
    "layerMinHeight": 1700,
    "layerBaseHeight": 1850,
    "secondaryRegionSizeRange": [
      0.5,
      0.8
    ],
    "primaryRegion": {
      "bgOreSelector": "normalBackgroundVeins",
      "bgCaveSelector": "backgroundCaves",
      "biome": "asteroids",
      "fgOreSelector": "normalVeins",
      "fillMicrodungeons": false,
      "subBlockSelector": "largeClumps",
      "encloseLiquids": false,
      "blockSelector": "asteroids",
      "fgCaveSelector": "empty",
      "oceanLiquid": 0,
      "oceanLiquidLevel": 0,
      "caveLiquid": 0,
      "caveLiquidSeedDensity": 0
    },
    "secondarySubRegions": [],
    "dungeonXVariance": 500
  },
  "globalDirectives": null,
  "hueShift": -20,
  "primaryBiome": "garden",
  "blendNoise": {
    "alpha": 1.8,
    "amplitude": 85,
    "octaves": 3,
    "type": "Perlin",
    "beta": 2.1,
    "frequency": 0.23
  },
  "subsurfaceLayer": {
    "dungeons": [],
    "secondaryRegions": [],
    "subRegionSizeRange": [
      0.25,
      0.4
    ],
    "primarySubRegion": {
      "bgOreSelector": "normalBackgroundVeins",
      "bgCaveSelector": "backgroundCaves",
      "biome": "underground0b",
      "fgOreSelector": "normalVeins",
      "fillMicrodungeons": false,
      "subBlockSelector": "largeClumps",
      "encloseLiquids": false,
      "blockSelector": "solid",
      "fgCaveSelector": "normalCaves",
      "oceanLiquid": 0,
      "oceanLiquidLevel": 0,
      "caveLiquid": 1,
      "caveLiquidSeedDensity": 1.49184
    },
    "layerMinHeight": 500,
    "layerBaseHeight": 550,
    "secondaryRegionSizeRange": [
      0.5,
      0.8
    ],
    "primaryRegion": {
      "bgOreSelector": "normalBackgroundVeins",
      "bgCaveSelector": "backgroundCaves",
      "biome": "underground0b",
      "fgOreSelector": "normalVeins",
      "fillMicrodungeons": false,
      "subBlockSelector": "largeClumps",
      "encloseLiquids": false,
      "blockSelector": "solid",
      "fgCaveSelector": "normalCaves",
      "oceanLiquid": 0,
      "oceanLiquidLevel": 0,
      "caveLiquid": 1,
      "caveLiquidSeedDensity": 1.49184
    },
    "secondarySubRegions": [],
    "dungeonXVariance": 500
  },
  "environmentStatusEffects": [
    "biomeairless"
  ],
  "beamUpRule": "Surface",
  "dayLength": 886.877,
  "sizeName": "small",
  "coreLayer": {
    "dungeons": [],
    "secondaryRegions": [],
    "subRegionSizeRange": [
      0.25,
      0.4
    ],
    "primarySubRegion": {
      "bgOreSelector": "normalBackgroundVeins",
      "bgCaveSelector": "coreBackgroundCaves",
      "biome": "gardencorelayer",
      "fgOreSelector": "normalVeins",
      "fillMicrodungeons": false,
      "subBlockSelector": "largeClumps",
      "encloseLiquids": false,
      "blockSelector": "solid",
      "fgCaveSelector": "coreCaves",
      "oceanLiquid": 8,
      "oceanLiquidLevel": 30,
      "caveLiquid": 2,
      "caveLiquidSeedDensity": 4
    },
    "layerMinHeight": 0,
    "layerBaseHeight": 50,
    "secondaryRegionSizeRange": [
      0.5,
      0.8
    ],
    "primaryRegion": {
      "bgOreSelector": "normalBackgroundVeins",
      "bgCaveSelector": "coreBackgroundCaves",
      "biome": "gardencorelayer",
      "fgOreSelector": "normalVeins",
      "fillMicrodungeons": false,
      "subBlockSelector": "largeClumps",
      "encloseLiquids": false,
      "blockSelector": "solid",
      "fgCaveSelector": "coreCaves",
      "oceanLiquid": 8,
      "oceanLiquidLevel": 30,
      "caveLiquid": 2,
      "caveLiquidSeedDensity": 4
    },
    "secondarySubRegions": [],
    "dungeonXVariance": 500
  },
  "surfaceLiquid": 1,
  "terraformed": false,
  "undergroundLayers": [
    {
      "dungeons": [],
      "secondaryRegions": [],
      "subRegionSizeRange": [
        0.25,
        0.4
      ],
      "primarySubRegion": {
        "bgOreSelector": "normalBackgroundVeins",
        "bgCaveSelector": "backgroundCaves",
        "biome": "mushrooms",
        "fgOreSelector": "normalVeins",
        "fillMicrodungeons": false,
        "subBlockSelector": "largeClumps",
        "encloseLiquids": false,
        "blockSelector": "solid",
        "fgCaveSelector": "normalCaves",
        "oceanLiquid": 0,
        "oceanLiquidLevel": 0,
        "caveLiquid": 0,
        "caveLiquidSeedDensity": 0
      },
      "layerMinHeight": 400,
      "layerBaseHeight": 450,
      "secondaryRegionSizeRange": [
        0.5,
        0.8
      ],
      "primaryRegion": {
        "bgOreSelector": "normalBackgroundVeins",
        "bgCaveSelector": "backgroundCaves",
        "biome": "underground0a",
        "fgOreSelector": "normalVeins",
        "fillMicrodungeons": false,
        "subBlockSelector": "largeClumps",
        "encloseLiquids": false,
        "blockSelector": "solid",
        "fgCaveSelector": "normalCaves",
        "oceanLiquid": 0,
        "oceanLiquidLevel": 0,
        "caveLiquid": 1,
        "caveLiquidSeedDensity": 1.30405
      },
      "secondarySubRegions": [],
      "dungeonXVariance": 500
    },
    {
      "dungeons": [],
      "secondaryRegions": [],
      "subRegionSizeRange": [
        0.25,
        0.4
      ],
      "primarySubRegion": {
        "bgOreSelector": "normalBackgroundVeins",
        "bgCaveSelector": "backgroundCaves",
        "biome": "icecaves",
        "fgOreSelector": "normalVeins",
        "fillMicrodungeons": false,
        "subBlockSelector": "largeClumps",
        "encloseLiquids": false,
        "blockSelector": "solid",
        "fgCaveSelector": "normalCaves",
        "oceanLiquid": 0,
        "oceanLiquidLevel": 0,
        "caveLiquid": 0,
        "caveLiquidSeedDensity": 0
      },
      "layerMinHeight": 300,
      "layerBaseHeight": 350,
      "secondaryRegionSizeRange": [
        0.5,
        0.8
      ],
      "primaryRegion": {
        "bgOreSelector": "normalBackgroundVeins",
        "bgCaveSelector": "backgroundCaves",
        "biome": "underground0c",
        "fgOreSelector": "normalVeins",
        "fillMicrodungeons": false,
        "subBlockSelector": "largeClumps",
        "encloseLiquids": false,
        "blockSelector": "solid",
        "fgCaveSelector": "normalCaves",
        "oceanLiquid": 0,
        "oceanLiquidLevel": 0,
        "caveLiquid": 1,
        "caveLiquidSeedDensity": 1.01927
      },
      "secondarySubRegions": [],
      "dungeonXVariance": 500
    },
    {
      "dungeons": [],
      "secondaryRegions": [],
      "subRegionSizeRange": [
        0.25,
        0.4
      ],
      "primarySubRegion": {
        "bgOreSelector": "normalBackgroundVeins",
        "bgCaveSelector": "backgroundCaves",
        "biome": "slimecaves",
        "fgOreSelector": "normalVeins",
        "fillMicrodungeons": false,
        "subBlockSelector": "largeClumps",
        "encloseLiquids": false,
        "blockSelector": "solid",
        "fgCaveSelector": "normalCaves",
        "oceanLiquid": 0,
        "oceanLiquidLevel": 0,
        "caveLiquid": 13,
        "caveLiquidSeedDensity": 3
      },
      "layerMinHeight": 200,
      "layerBaseHeight": 250,
      "secondaryRegionSizeRange": [
        0.5,
        0.8
      ],
      "primaryRegion": {
        "bgOreSelector": "normalBackgroundVeins",
        "bgCaveSelector": "backgroundCaves",
        "biome": "underground0d",
        "fgOreSelector": "normalVeins",
        "fillMicrodungeons": false,
        "subBlockSelector": "largeClumps",
        "encloseLiquids": false,
        "blockSelector": "solid",
        "fgCaveSelector": "normalCaves",
        "oceanLiquid": 0,
        "oceanLiquidLevel": 0,
        "caveLiquid": 1,
        "caveLiquidSeedDensity": 0.849849
      },
      "secondarySubRegions": [],
      "dungeonXVariance": 500
    }
  ],
  "disableDeathDrops": false,
  "typeName": "garden",
  "worldEdgeForceRegions": "Top",
  "threatLevel": 1,
  "gravity": 80,
  "surfaceLayer": {
    "dungeons": [
      "naturalcave",
      "gardengate"
    ],
    "secondaryRegions": [
      {
        "bgOreSelector": "normalBackgroundVeins",
        "bgCaveSelector": "empty",
        "biome": "forest",
        "fgOreSelector": "normalVeins",
        "fillMicrodungeons": false,
        "subBlockSelector": "largeClumps",
        "encloseLiquids": false,
        "blockSelector": "remixedMildSurface",
        "fgCaveSelector": "surfaceCaves",
        "oceanLiquid": 0,
        "oceanLiquidLevel": 0,
        "caveLiquid": 1,
        "caveLiquidSeedDensity": 1.2319
      }
    ],
    "subRegionSizeRange": [
      0.25,
      0.4
    ],
    "primarySubRegion": {
      "bgOreSelector": "normalBackgroundVeins",
      "bgCaveSelector": "empty",
      "biome": "garden",
      "fgOreSelector": "normalVeins",
      "fillMicrodungeons": false,
      "subBlockSelector": "largeClumps",
      "encloseLiquids": false,
      "blockSelector": "remixedMildSurface",
      "fgCaveSelector": "surfaceCaves",
      "oceanLiquid": 0,
      "oceanLiquidLevel": 0,
      "caveLiquid": 1,
      "caveLiquidSeedDensity": 1.2319
    },
    "layerMinHeight": 600,
    "layerBaseHeight": 675,
    "secondaryRegionSizeRange": [
      0.5,
      0.8
    ],
    "primaryRegion": {
      "bgOreSelector": "normalBackgroundVeins",
      "bgCaveSelector": "empty",
      "biome": "garden",
      "fgOreSelector": "normalVeins",
      "fillMicrodungeons": false,
      "subBlockSelector": "largeClumps",
      "encloseLiquids": false,
      "blockSelector": "remixedMildSurface",
      "fgCaveSelector": "surfaceCaves",
      "oceanLiquid": 0,
      "oceanLiquidLevel": 0,
      "caveLiquid": 1,
      "caveLiquidSeedDensity": 1.2319
    },
    "secondarySubRegions": [
      {
        "bgOreSelector": "normalBackgroundVeins",
        "bgCaveSelector": "empty",
        "biome": "swamp",
        "fgOreSelector": "normalVeins",
        "fillMicrodungeons": true,
        "subBlockSelector": "largeClumps",
        "encloseLiquids": true,
        "blockSelector": "remixedSwampySurface",
        "fgCaveSelector": "empty",
        "oceanLiquid": 0,
        "oceanLiquidLevel": 0,
        "caveLiquid": 12,
        "caveLiquidSeedDensity": 20
      }
    ],
    "dungeonXVariance": 500
  },
  "worldSize": [
    3000,
    2000
  ],
  "skyColoring": {
    "dayColors": [
      [
        115,
        224,
        255
      ],
      [
        255,
        255,
        255
      ]
    ],
    "mainColor": [
      255,
      255,
      255
    ],
    "morningLightColor": [
      140,
      71,
      0
    ],
    "eveningColors": [
      [
        125,
        17,
        158
      ],
      [
        210,
        52,
        50
      ]
    ],
    "morningColors": [
      [
        242,
        120,
        0
      ],
      [
        255,
        230,
        176
      ]
    ],
    "nightLightColor": [
      40,
      20,
      60
    ],
    "nightColors": [
      [
        24,
        38,
        53,
        80
      ],
      [
        58,
        42,
        70,
        160
      ]
    ],
    "dayLightColor": [
      200,
      200,
      200
    ],
    "eveningLightColor": [
      160,
      120,
      180
    ]
  },
  "weatherPool": [
    {
      "weight": 0.05,
      "item": "rain"
    },
    {
      "weight": 0.025,
      "item": "storm"
    },
    {
      "weight": 0.0125,
      "item": "glowingrain"
    },
    {
      "weight": 0.0625,
      "item": "drizzle"
    },
    {
      "weight": 0.85,
      "item": "clear"
    }
  ]
}
