{
  "gun_reset" : {
    "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
    "icon" : "/interface/warping/warpedit.png",
    "title" : "Confirmation Console",
    "subtitle" : ">Bookmark deletion",
    "message" : "\nDelete bookmark? \n ^red;This action is irreversible.^reset;\n\n If you delete it, you will need to visit and save the location again to get it back.",
    "okCaption" : "Okay",
    "cancelCaption" : "Cancel",
    "images" : {
      "portrait" : [ {"image" : "/interface/warping/warpedit.png"} ]
    },
    "labels" : {
      "name" : "^orange;Console^reset;"
    }
  }
}
