{
  "canBookmark" : false,
  "bookmarkName" : "New Bookmark",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : true,
  "destinations" : [
    {
      "name" : "Beam to Ship",
      "planetName" : "",
      "warpAction" : "OwnShip",
      "icon" : "beamup"
    },
    {
      "name" : "Beam to planet",
      "planetName" : "",
      "warpAction" : "OrbitedWorld",
      "icon" : "beamdown"
    },
    {
      "name" : "Deploy Mech",
      "planetName" : "current orbited world",
      "warpAction" : "OrbitedWorld",
      "deploy" : true,
      "icon" : "deploy"
    },
    {
      "name" : "???",
      "planetName" : "???",
      "warpAction" : "InstanceWorld:outpost",
      "icon" : "default"
    },
    {
      "name" : "Koichi's Museum",
      "planetName" : "",
      "warpAction" : "InstanceWorld:museum",
      "prerequisiteQuest" : "museumcurator6",
      "icon" : "default"
    },
    {
      "name" : "Back to the Ark",
      "planetName" : "Return to the Ark ruins",
      "warpAction" : "InstanceWorld:outpost=arkteleporter",
      "icon" : "outpost"
    },
    {
      "name" : "Return to Gate",
      "planetName" : "",
      "warpAction" : "Return",
      "icon" : "ancientgateway"
    }
  ]
}