{
  "planetaryEnvironmentHazards": {
    "error" : { "displayName" : "Unavailable", "icon" : "/interface/cockpit/hazards/caution.png" },
		// vanilla
		"biomeairless" : { "displayName" : "Unbreathable", "icon" : "/interface/cockpit/hazards/nooxygen.png" },
		"biomecold" : { "displayName" : "Cold", "icon" : "/interface/cockpit/hazards/freezing.png" },
		"biomeheat" : { "displayName" : "Hot", "icon" : "/interface/cockpit/hazards/burning.png" },
		"biomeradiation" : { "displayName" : "Radioactive", "icon" : "/interface/cockpit/hazards/radiation.png" },
	 
		// fukken universe
		"ffextremecold" : { "displayName" : "Extreme Cold", "icon" : "/interface/cockpit/hazards/fu_cold_extreme.png" },
		"ffextremeheat" : { "displayName" : "Extreme Heat", "icon" : "/interface/cockpit/hazards/fu_heat_extreme.png" },
		"ffextremeradiation" : { "displayName" : "Extreme Radiation", "icon" : "/interface/cockpit/hazards/fu_radiation_extreme.png" },
	 
		"ffbiomecold2" : { "displayName" : "Cold", "icon" : "/interface/cockpit/hazards/pi_cold.png" },
		"ffbiomecold3" : { "displayName" : "Deadly Cold", "icon" : "/interface/cockpit/hazards/fu_cold_extreme.png" },
	 
		"ffbiomeheat2" : { "displayName" : "Hot", "icon" : "/interface/cockpit/hazards/pi_heat.png" },
		"ffbiomeheat3" : { "displayName" : "Deadly Heat", "icon" : "/interface/cockpit/hazards/fu_heat_extreme.png" },
	 
		"radioactiveweathernew" : { "displayName" : "Radioactive", "icon" : "/interface/cockpit/hazards/pi_radiation.png" },
		"radioactiveweathernew2" : { "displayName" : "Deadly Radiation", "icon" : "/interface/cockpit/hazards/fu_radiation_extreme.png" },
	 
		"protoweather" : { "displayName" : "Proto-Poison", "icon" : "/interface/cockpit/hazards/fu_protopoison.png" },
		"insanitynew" : { "displayName" : "Insanity", "icon" : "/interface/cockpit/hazards/fu_insanity.png" },
		"ffextremesulphuric" : { "displayName" : "Sulphuric Atmosphere", "icon" : "/interface/cockpit/hazards/fu_acid.png" },
		"gasworldweak" : { "displayName" : "High Pressure", "icon" : "/interface/cockpit/hazards/fu_pressure.png" },
		"gasworld" : { "displayName" : "Extreme Pressure", "icon" : "/interface/cockpit/hazards/fu_pressure_extreme.png" },
		"crystalmoonfx" : { "displayName" : "Cold", "icon" : "/interface/cockpit/hazards/pi_cold.png" },
		"biomepoison2" : { "displayName" : "Poisonous Gas", "icon" : "/interface/cockpit/hazards/fu_gas.png" },
		"poisongas" : { "displayName" : "Poisonous Gas", "icon" : "/interface/cockpit/hazards/fu_gas.png" }
  },
  "mel_tp_dialog": {
    "CelestialDatabaseError": "Celestial Database Error",
    "beamPartyMemberLabel" : "Beam to Party Member",
    "deployPartyMemberLabel" : "Deploy to Party Member",
    "beamPartyMemberIcon" : "/interface/bookmarks/icons/beamparty.png",
    "deployPartyMemberIcon" : "/interface/bookmarks/icons/deploy.png"
  },
  "mel_tp_edit": {
    "mel_tp_confirm": {
      "title": "Bookmark deletion",
      "message": "\nDelete bookmark? \n^red;This action is irreversible.^reset;\n\nIf you delete it, you will need to visit and save the location again to get it back.",
      "ok": "Ok",
      "cancel": "Cancel",
      "name": "^orange;Bookmarks^reset;"
    }
  } 
}